* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  vertical-align: top;
  width: 30rem;
}

body {
  background-color: #383838;
}

main {
  display: flex;
  height: 100vh;
  align-items: center;
}
.radio {
  display: none;
}

.slider-container {
background-color: #066163;
color: #F2F2F2;
width: 32rem;
margin: 0 auto;
padding: 1rem 0;
border-radius: 1rem;
}
.slider {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: 
  'image image'
  'caption buttons'
  ;
  row-gap: 1rem;
  margin: 0 auto;
  width: 30rem;
}
.image-group {
  display: inline-flex;
  overflow: hidden;
  width: 30rem;
  scroll-behavior: smooth;
  grid-area: image;
  justify-self: center;
  border-radius: 1rem;
  user-select: none;
}
.image {
  box-sizing: border-box;
  transition: .8s;
}
.caption-wrapper {
  grid-area: caption;
  justify-self: start;
  align-self: top;
  height: 3.3rem;
  overflow: hidden;
  scroll-behavior: smooth;
}
.caption {
  height: 100%;
  transition: .8s;
}
.btn-wrapper {
  grid-area: buttons;
  justify-self: end;
  align-self: top;
}
.btn {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.2rem;
  height: 2.2rem;
  user-select: none;
}
.btn span {
  border: 1px solid #CDBE78;
  border-radius: 100%;
  width: 1.8rem;
  height: 1.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn span:hover {
  transition: all .4s;
  background-color: #F2F2F2;
  color: #383838;
}
#radio1:checked ~ .image-group > .image {
  transform: translate(0);
  opacity: 1;
}
#radio2:checked ~ .image-group > .image {
  transform: translate(-100%);
}
#radio3:checked ~ .image-group > .image {
  transform: translate(-200%);
}
#radio4:checked ~ .image-group > .image {
  transform: translate(-300%);
}
#radio1:checked ~ .caption-wrapper > .caption {
  transform: translateY(0);
}
#radio2:checked ~ .caption-wrapper > .caption {
  transform: translateY(-100%);
}
#radio3:checked ~ .caption-wrapper > .caption {
  transform: translateY(-200%);
}
#radio4:checked ~ .caption-wrapper > .caption {
  transform: translateY(-300%);
}
#radio1:checked ~ .btn-wrapper > #btn1 span,
#radio2:checked ~ .btn-wrapper > #btn2 span,
#radio3:checked ~ .btn-wrapper > #btn3 span,
#radio4:checked ~ .btn-wrapper > #btn4 span {
  transition: all .4s;
  background-color: #CDBE78;
  color: #383838;
}

@media screen and (max-width: 768px) {
  .slider {
    grid-template-columns: auto;
    grid-template-areas: 
    'image'
    'buttons'
    'caption'
    ;
  }
  .btn-wrapper {
    justify-self: center;
  }
  .caption-wrapper {
    justify-self: center;
  }
}